@use "../variables" as v;

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid v.$borderTopColor;
  padding-top: 16px;
  padding-bottom: 19px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: v.$otherText;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    padding: 32px 24px 24px;
  }

  @media (min-width: 1120px) {
    padding: 32px 32px 21px;
    margin-left: 320px;
  }

  &__text {
    @media (min-width: 768px) {
      text-align: end;
    }
  }

  &__address {
    @media (min-width: 768px) {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }
  }
}
