@use "../variables" as v;

.swiper {
  box-sizing: border-box;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: v.$paginationBulletColor;
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  background-color: v.$placeholderColor;
}
