@use "../variables" as v;

.upper-menu {
  display: flex;
  align-items: center;
  height: 88px;
  padding: 19px 16px;
  border-bottom: 1px solid v.$borderTopColor;

  @media (min-width: 768px) {
    padding-left: 24px;
    padding-right: 24px;
  }

  @media (min-width: 1120px) {
    display: none;
  }

  &__section {
    display: flex;
    gap: 16px;

    &--left {
      align-items: center;
      margin-right: auto;

      @media (min-width: 768px) {
        gap: 20px;
      }
    }

    &--center {
      display: none;

      @media (min-width: 768px) {
        margin-right: 20px;
        display: flex;
        align-items: center;
      }
    }

    &--right {
      align-items: center;
      position: relative;
      margin-left: 20px;
    }
  }

  &__divider {
    content: "";
    width: 2px;
    height: 32px;
    background-color: v.$borderColor;
    border-radius: 1px;

    &--hidden {
      display: none;
    }
  }

  &__logo {
    @media (min-width: 768px) {
      position: relative;
    }
  }

  &__divider {
    &--shown {
      @media (min-width: 768px) {
        display: flex;
      }
    }
  }
}
