@import url("./fonts/TTLakes/stylesheet.css");

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", Arial, sans-serif;
  color: #1b1c21;
  background-color: #f8f8f8;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

p {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button--pink {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 300ms;
}

.button--pink:hover {
  background-color: #ff719c;
  transform: scale(1.1);
}

.button--submit {
  width: 136px;
  height: 32px;
  padding-left: 21px;
  background-color: #ff3e79;
  color: #ffffff;
  font-family: "TT Lakes", Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.15px;
  border-radius: 16px;
  transition: 300ms;
}

.button--submit:hover {
  background-color: #ff719c;
  transform: scale(1.1);
}

.button--close {
  background-image: url(./icons/close.svg);
}

.button--chevron-white {
  background-image: url(./icons/chevron-white.svg);
  background-repeat: no-repeat;
  background-position: 110px 50%;
}

.forms {
  background-color: #ffffff;
}

.forms__title {
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.forms__input,
.forms__textarea {
  border: 1px solid #eaeaea;
  border-radius: 8px;
  font-family: "TT Lakes", Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.forms__input::placeholder,
.forms__textarea::placeholder {
  color: #b5b6bc;
}

.feedback-container {
  background-color: rgba(255, 255, 255, 0.96);
  height: 100%;
}

.feedback-form {
  height: 100%;
  padding: 24px 16px;
}

.feedback-form__title {
  margin-top: 40px;
  margin-bottom: 24px;
  position: relative;
}

.feedback-form__title::before {
  content: "";
  width: 8px;
  height: 40px;
  border-radius: 4px;
  background-color: #41f6d7;
  position: absolute;
  left: -20px;
  top: -8px;
  clip-path: inset(0 0 0 50%);
}

.feedback-form__content {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.feedback-form__input {
  height: 48px;
  padding: 12px 16px;
}

.feedback-form__textarea {
  height: 118px;
  padding: 12px 16px;
}

.feedback-form__text {
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
}

.feedback-form__link {
  color: #ff3e79;
}

.feedback-form__submit-button {
  margin-left: auto;
}

@media (min-width: 768px) {
  .feedback-form {
    width: 440px;
    margin-left: auto;
    padding: 40px 32px;
    box-shadow:
      16px 0px 52px 0px #0e185033,
      -2px 0px 4px 0px #454f7e05;
    border-left: 1px solid #d9fff5;
    position: relative;
  }

  .feedback-form__button {
    position: absolute;
    left: -73px;
    top: 32px;
  }

  .feedback-form__title {
    margin-top: 0;
  }

  .feedback-form__title::before {
    left: -36px;
  }
}
