@import url("./fonts/TTLakes/stylesheet.css");

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", Arial, sans-serif;
  color: #1b1c21;
  background-color: #f8f8f8;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

label {
  cursor: pointer;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button--chevron {
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background: url(./icons/chevron.svg) no-repeat 50% 50%;
  transition: 300ms;
}

.button--chevron:hover {
  background-color: #f7cad7;
  transform: scale(1.1);
}

.brands {
  border-top: 1px solid #d9fff5;
}

.brands__title {
  height: 80px;
}

.swiper-title {
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  padding: 16px;
}

.brands__list {
  margin-bottom: 16px;
  position: relative;
}

.brands__swiper::after {
  content: "";
  width: 24px;
  height: 72px;
  background-image: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  position: absolute;
  top: 16px;
  right: 0px;
  pointer-events: none;
  z-index: 10;
}

.repair-list__item {
  height: 72px;
  padding: 16px 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
}

.brands__toggle {
  display: none;
}

.brands__swiper {
  padding-left: 16px;
  padding-top: 16px;
  z-index: 0;
  --add-bottom: 26px;
  padding-bottom: var(--add-bottom);
  box-sizing: border-box;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

@media (min-width: 768px) {
  .brands__title {
    height: 56px;
  }

  .swiper-title {
    padding-left: 24px;
  }

  .brands__list {
    box-sizing: border-box;
    margin: 24px 0;
    margin-bottom: 46px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 224px));
    column-gap: 24px;
    row-gap: 16px;
  }

  .toggle-list--hidden {
    height: 160px;
    overflow: hidden;
    margin-bottom: 24px;
  }

  .repair-list__item {
    width: 224px;
  }

  .brands__swiper {
    padding: 0;
    --add-bottom: 0px;
  }

  .brands__toggle {
    display: flex;
    gap: 8px;
    margin-left: 24px;
    padding-bottom: 34px;
  }

  .button--toggle {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .button--toggle__icon {
    width: 24px;
    height: 24px;
    background: url(./icons/arrows.svg) no-repeat center / 7px 10px;
    transition: 500ms;
  }

  .button--toggle__icon--rotated {
    transform: rotate(180deg);
  }
}

@media (min-width: 1120px) {
  .swiper-title {
    padding-left: 32px;
  }

  .brands__list {
    padding: 0 32px;
    column-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
  }

  .repair-list__item {
    width: 240px;
  }

  .brands__toggle {
    margin-left: 31px;
  }
}
