@import url("./fonts/TTLakes/stylesheet.css");

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", Arial, sans-serif;
  color: #1b1c21;
  background-color: #f8f8f8;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button--pink {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 300ms;
}

.button--pink:hover {
  background-color: #ff719c;
  transform: scale(1.1);
}

.button--phone {
  background-image: url(./icons/phone.svg);
}

.button--chat {
  background-image: url(./icons/chat.svg);
}

.button--account {
  background-image: url(./icons/account.svg);
}

.button--close {
  background-image: url(./icons/close.svg);
}

.button--search {
  background-image: url(./icons/search.svg);
}

.logo {
  background: url(./icons/logo.svg) no-repeat center;
  width: 97px;
  height: 51px;
}

.sidebar {
  display: flex;
  flex-direction: column;
  position: fixed;
  width: 320px;
  height: 100%;
  padding: 19px 24px 32px;
  box-shadow: 16px 0px 52px 0px #0e185033, -2px 0px 4px 0px #454f7e05;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2;
  font-weight: 500;
}

.sidebar__header {
  display: flex;
  align-items: center;
  margin-bottom: 46px;
}

.sidebar__logo {
  display: block;
  margin-right: 78px;
  margin-left: 17px;
}

.sidebar__nav {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  max-height: 448px;
  height: 40vh;
}

.sidebar__item {
  position: relative;
  transition: 0.3s;
}

.sidebar__item:hover,
.sidebar__item--active,
.sidebar__email:hover,
.sidebar__tel:hover,
.languages__button:hover,
.languages__button--active {
  color: #7e7e82;
}

.sidebar__item:hover::before {
  content: "";
  width: 8px;
  height: 32px;
  border-radius: 4px;
  background-color: #41f6d7;
  position: absolute;
  left: -28px;
  top: -4px;
}

.sidebar__item--active::before {
  content: "";
  width: 8px;
  height: 32px;
  border-radius: 4px;
  background-color: #41f6d7;
  position: absolute;
  left: -28px;
  top: -4px;
}

.sidebar__footer {
  margin-top: auto;
}

.sidebar__contacts {
  display: flex;
  gap: 16px;
  margin-bottom: 16px;
}

.sidebar__info {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.sidebar__tel {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  letter-spacing: -0.6px;
}

.sidebar__languages {
  margin-top: 40px;
}

.languages {
  display: flex;
  gap: 7px;
}
