@import url("./fonts/TTLakes/stylesheet.css");

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", Arial, sans-serif;
  color: #1b1c21;
  background-color: #f8f8f8;
}

h2 {
  margin: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

address {
  font-style: normal;
}

.button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

.button--pink {
  width: 40px;
  height: 40px;
  background-color: #ff3e79;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 50%;
  transition: 300ms;
}

.button--pink:hover {
  background-color: #ff719c;
  transform: scale(1.1);
}

.button--chevron {
  width: 40px;
  height: 40px;
  border: 2px solid #ff3e79;
  border-radius: 50%;
  background: url(./icons/chevron.svg) no-repeat 50% 50%;
  transition: 300ms;
}

.button--chevron:hover {
  background-color: #f7cad7;
  transform: scale(1.1);
}

.button--chevron-white {
  background-image: url(./icons/chevron-white.svg);
  background-repeat: no-repeat;
}

.button--toggle__icon {
  transition: 500ms;
}

.button--toggle__icon--rotated {
  transform: rotate(180deg);
}

.button--toggle__label {
  cursor: pointer;
}

.button--pink-oval {
  height: 32px;
  background-color: #ff3e79;
  color: #ffffff;
  font-family: "TT Lakes", Arial, sans-serif;
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  text-transform: uppercase;
  text-align: left;
  letter-spacing: -0.15px;
  border-radius: 16px;
  transition: 300ms;
  z-index: 2;
}

.button--pink-oval:hover {
  background-color: #ff719c;
  transform: scale(1.1);
}

.button--order {
  width: 119px;
  padding-left: 12px;
  background-position: 96px 50%;
}

.button--offer {
  width: 220px;
  position: relative;
  transition: 300ms;
  font-family: TT Lakes;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
}

.button--offer:hover {
  color: #ff719c;
}

.button--offer::after {
  content: "";
  position: absolute;
  left: 127px;
  bottom: 4px;
  width: 6px;
  height: 12px;
  background: url(./icons/chevron.svg) no-repeat;
  background-size: contain;
}

.repair,
.prices {
  border-top: 1px solid #d9fff5;
}

.repair__title {
  height: 80px;
}

.swiper-title {
  text-transform: uppercase;
  color: #7e7e82;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  background-image: linear-gradient(to right, #f8f8f8, #ffffff);
  padding: 16px;
  align-items: center;
}

.price-title {
  height: 56px;
}

.repair__list {
  margin-bottom: 16px;
  position: relative;
}

.repair__swiper::after {
  content: "";
  width: 24px;
  height: 160px;
  background-image: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  position: absolute;
  top: 16px;
  right: 0px;
  pointer-events: none;
  z-index: 10;
}

.repairing-list__item {
  width: 240px;
  height: 160px;
  padding: 16px;
  display: flex;
  justify-content: space-between;
  background-color: #ffffff;
  border: 1px solid #eaeaea;
  border-radius: 6px;
  font-weight: 500;
}

.repair__label {
  align-self: flex-start;
}

.repair__button {
  align-self: flex-end;
}

.repair__toggle {
  display: none;
}

.repair__swiper {
  padding: 16px 0 26px 16px;
}

.prices {
  margin-top: 10px;
  margin-bottom: 40px;
}

.prices__row {
  position: relative;
}

.prices__content {
  margin-bottom: 16px;
}

.prices__text {
  padding: 0 16px;
}

.prices__button {
  padding: 16px 16px 0 16px;
  text-align: start;
}

.prices__gradient {
  background: linear-gradient(
    270deg,
    #f8f8f8 16.84%,
    rgba(248, 248, 248, 0.0001) 100%
  );
  width: 24px;
  height: 200px;
  position: absolute;
  top: 16px;
  right: 0;
  z-index: 1;
}

.prices__swiper {
  padding: 16px 0 42px 8px;
}

.row {
  display: flex;
  flex-direction: column;
  height: 200px;
  padding: 16px;
  padding-bottom: 0;
  background-color: #ffffff;
  border-radius: 5px;
  border: 1px solid #eaeaea;
  font-size: 14px;
  line-height: 16px;
}

.row--hidden {
  display: none;
}

.row__label {
  color: #7e7e82;
  font-weight: 500;
  letter-spacing: 0;
}

.row__content {
  font-weight: 400;
  letter-spacing: 0.2px;
  line-height: 18px;
}

.row__button {
  position: absolute;
  bottom: 16px;
  right: 16px;
}

.prices-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
}

.swiper {
  box-sizing: border-box;
}

.swiper-slide {
  box-sizing: border-box;
}

.swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: #dddddd;
  margin: 0 6px;
}

.swiper-pagination-bullet-active {
  background-color: #b5b6bc;
}

.footer {
  display: flex;
  flex-direction: column;
  gap: 16px;
  border: 1px solid #d9fff5;
  padding-top: 16px;
  padding-bottom: 19px;
  text-align: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0px;
  color: #7e7e82;
}

@media (min-width: 768px) {
  .repair__title {
    height: 56px;
    padding-left: 24px;
  }

  .repair__list {
    box-sizing: border-box;
    margin: 24px 0;
    margin-bottom: 46px;
    padding: 0 24px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(224px, 224px));
    column-gap: 24px;
    row-gap: 16px;
  }

  .toggle-list--hidden {
    height: 160px;
    overflow: hidden;
    margin-bottom: 24px;
  }

  .repairing-list__item {
    width: 224px;
  }

  .repair__swiper {
    padding: 0;
    --add-bottom: 0px;
  }

  .repair__toggle {
    display: flex;
    gap: 8px;
    margin-left: 24px;
    padding-bottom: 34px;
  }

  .repair__button-icon {
    width: 24px;
    height: 24px;
    background: url(./icons/arrows.svg) no-repeat center / 7px 10px;
  }

  .button--toggle {
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
  }

  .button--offer::after {
    left: 323px;
  }

  .prices {
    margin-bottom: 47px;
  }

  .prices__swiper {
    margin: 7px 24px 24px;
    padding: 0%;
    border-radius: 5px;
  }

  .prices__table {
    display: flex;
    flex-direction: column;
  }

  .prices__table::before {
    content: "";
    width: 16px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 64px;
    left: 0px;
    z-index: 1;
  }

  .prices__table::after {
    content: "";
    width: 16px;
    height: 320px;
    background-color: #ffffff;
    border-radius: 5px;
    position: absolute;
    top: 64px;
    right: 0px;
    z-index: 1;
  }

  .prices__content {
    margin-bottom: 0;
  }

  .prices__text {
    width: 470px;
    padding: 0 24px;
  }

  .prices__button {
    padding: 16px 24px 0 24px;
    width: 350px;
  }

  .prices__gradient {
    display: none;
  }

  .swiper-title {
    padding-left: 24px;
  }

  .row {
    display: grid;
    grid-template-columns: 54% 14% 15% 119px;
    height: 64px;
    padding: 16px;
    align-items: center;
    border: none;
    border-bottom: 1px solid #eaeaea;
    border-radius: 5px;
    background-color: #ffffff;
  }

  .row:last-child {
    border: none;
  }

  .row--hidden {
    display: grid;
    box-sizing: border-box;
    background-color: unset;
    border: none;
    padding-bottom: 8px;
  }

  .row__label--hidden {
    display: none;
  }

  .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: baseline;
    padding: 32px 24px 24px;
  }

  .footer__text {
    text-align: end;
  }

  .footer__address {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media (min-width: 1120px) {
  .button--offer::after {
    left: 332px;
  }

  .repair__title {
    padding-left: 32px;
  }

  .repair__list {
    padding: 0 32px;
    column-gap: 32px;
    grid-template-columns: repeat(auto-fill, minmax(240px, 240px));
  }

  .repairing-list__item {
    width: 240px;
  }

  .repair__toggle {
    margin-left: 31px;
  }

  .swiper-title {
    padding-left: 32px;
  }

  .prices {
    margin-top: 16px;
    margin-bottom: 50px;
  }

  .prices__swiper {
    margin: 7px 32px 32px;
  }

  .prices__text {
    padding-left: 32px;
    padding-right: 32px;
    width: 485px;
  }

  .prices__button {
    padding-left: 32px;
    padding-right: 32px;
    width: 380px;
  }

  .row {
    padding: 16px 24px;
  }

  .row--hidden {
    padding-bottom: 8px;
  }

  .footer {
    padding: 32px 32px 21px;
  }
}
