@use "./variables" as v;
@import url("../fonts/TTLakes/stylesheet.css");

html {
  box-sizing: border-box;
  height: 100%;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: "TT Lakes", Arial, sans-serif;
  color: v.$mainText;
  background-color: v.$backgroundColorGrey;
}

body.body--menu-open {
  overflow: hidden;
}

h1,
h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

figure {
  margin: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

p {
  margin: 0;
}

label {
  cursor: pointer;
}

address {
  font-style: normal;
}

main {
  padding-top: 24px;
  padding-bottom: 35px;

  @media (min-width: 768px) {
    padding-bottom: 40px;
  }

  @media (min-width: 1120px) {
    padding-top: 42px;
    padding-bottom: 49px;
    margin-left: 320px;
  }
}
