@use "blocks/swiper";
@use "base";
@use "blocks/button";
@use "blocks/upper-menu";
@use "blocks/logo";
@use "blocks/page-title";
@use "blocks/navbar";
@use "blocks/about-us";
@use "blocks/cps-sign";
@use "blocks/sidebar";
@use "blocks/languages";
@use "blocks/brands";
@use "blocks/swiper-title";
@use "blocks/repair";
@use "blocks/prices";
@use "blocks/price-title";
@use "blocks/prices-text";
@use "blocks/brands-list";
@use "blocks/_repair-list";
@use "blocks/row";
@use "blocks/footer";
@use "blocks/forms";
@use "blocks/form-containers";
@use "blocks/feedback-form";
@use "blocks/request-form";
@use "blocks/toggle-list";
